* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    width: 100%;
    background-color: blue;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

p {
    color: white;
}